@page "/music-library"
@using Ongaku.Models
@inject Ongaku.Services.TrackService TrackService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject Ongaku.Services.AudioService AudioService

<PageTitle>Library</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Style="height: 100%;">
	<div Class="d-flex flex-row justify-space-between pl-2 pr-2">
		<MudText Typo="Typo.h5" Style="font-family: 'Segui'; font-weight: 600;">Total songs: @(tracks != null ? tracks.Count.ToString() : "0")</MudText>

		<MudButton @onclick="OpenDialogAsync" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" Color="Color.Secondary"
			Style="border-radius: 2rem; height: 2rem;">Upload</MudButton>
	</div>

	@if ((tracks == null) || (tracks != null && tracks.Count == 0 && loading))
	{
		<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
			<MudProgressCircular Color="Color.Primary" Indeterminate />
		</div>
	}
	else if ((tracks == null) || (tracks != null && tracks.Count == 0))
	{
		<div style="position: relative; width: 100%; height: 100%;">
			<MudText Typo="Typo.h3"
					 Style="position: absolute; top: 25%; left: 25%; transform: translate(-50%, -50%);
		                    font-family: 'Segui'; text-align: center;">
				Nothing found
			</MudText>
		</div>
		<MudImage Src="assets/nothing_found.png"
		Style="position: absolute; right: 0; bottom: 0;" />
	}
	else if (tracks != null && tracks.Count > 0)
	{
		<MudStack Class="pt-5" Row="false" Breakpoint="Breakpoint.None">
			@foreach (Track track in tracks)
			{
				<MudPaper Class="track-item pa-3 d-flex flex-row justify-space-between align-center" Elevation="3" Outlined
				Style="border-radius: 1rem;"
				Height="4rem"
				@onclick="() => Play(track)"
				>
					<div class="hover-panel d-flex justify-center align-center">
						<MudIcon Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Large" Color="Color.Primary" />
					</div>

					<div class="d-flex flex-row align-center gap-3" style="width: 70%;">
						<MudImage Src="@track.CoverPath" FallbackSrc="assets/teto_cover.png" Class="z-10 rounded-lg"
						Width="50" Height="50" ObjectFit="ObjectFit.Cover"
						/>

						<div class="d-flex flex-column justify-center align-start" style="overflow: hidden; width: 70%;">
							<MudText style="font-size: 1.25rem; text-wrap: nowrap; z-index: 1;">@track.Title</MudText>
							<MudText style="font-size: 1rem; opacity: 0.7; text-wrap: nowrap; z-index: 1;">@track.Artist.Name</MudText>
						</div>
					</div>

					<div class="d-flex flex-row align-center">
						<MudText Class="z-10">@(track.Duration.Hours != 0 ? $"{track.Duration.Hours.ToString()}:" : "")@(track.Duration.Hours != 0 ? (track.Duration.Minutes.ToString().Length == 2 ? track.Duration.Minutes : "0" + track.Duration.Minutes) : track.Duration.Minutes):@(track.Duration.Seconds.ToString().Length == 1 ? "0" + track.Duration.Seconds : track.Duration.Seconds)</MudText>
						<Ongaku.Components.Buttons.TrackActionsBtn Track="@track" OnDelete="DeleteTrack" OnEdit="StateHasChanged" />
					</div>
				</MudPaper>
			}
		</MudStack>
	}
</MudContainer>

@code {
	private List<Track>? tracks;
	private bool loading = true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadTracksAsync();
		}
	}

	private async Task LoadTracksAsync()
	{
		loading = true;
		StateHasChanged();

		tracks = await TrackService.GetAllTracksAsync();
		loading = false;

		StateHasChanged();
	}

	private async Task OpenDialogAsync()
	{
		var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

		var dialog = await DialogService.ShowAsync<Dialogs.FileUploading>("File uploading", options);
		var result = await dialog.Result;

		if (result != null && !result.Canceled && result.Data is true)
		{
			Snackbar.Add("Songs uploaded sccessfully!", Severity.Success);

			tracks = await TrackService.GetAllTracksAsync();

			StateHasChanged();
		}
		else if (result != null && result.Canceled)
		{
			tracks = await TrackService.GetAllTracksAsync();

			StateHasChanged();
		}
	}

	private void DeleteTrack(int id)
	{
		if (tracks == null) return;

		string name = tracks.FirstOrDefault(t => t.Id == id)!.Title;
		tracks = tracks.Where(t => t.Id != id).ToList();

		Snackbar.Add($"{name} successfuly deleted!", Severity.Success);
		StateHasChanged();
	}

	private async Task Play(Track track)
	{
		if (tracks == null)
		{
			Snackbar.Add("Tracks library is empty!", Severity.Error);
			return;
		}

		await AudioService.PlayFromAsync(tracks, track, Enums.QueueSourceEnum.Library);
	}
}
